*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background: rgb(255,132,0);
  background: linear-gradient(180deg, rgba(255,132,0,1) 0%, rgba(255,255,255,1) 50%, rgba(6,224,5,1) 100%);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}
.container{
  margin: 0 auto!important;
  width: 400px;
  background-color: rgb(5, 125, 129);
  display: flex;
  flex-direction: column;
  align-items: center ;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  gap: 2rem;
  text-align: center;
}